body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

p, h1, div, h2 {
    margin: 0;
    padding: 0;
}

p, h1, h2 {
    color: #fff;
}

p {
    font-family: 'Lato', sans-serif;
    font-size: 1.25vw;
}

h1, h2 {
    font-family: 'Amatic SC', cursive;
}

#menu {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 20px;
    background-color: darkred;
    grid-column-gap: 10px;
}

#menu__title {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-row: 1;
    grid-column: 3 / 5;
    font-size: 3vw;
    cursor: default;
}

#menu__directions {
    grid-row: 1 / 3;
    grid-column: 1 / 3;
    overflow: auto;
}

#menu__warning {
    grid-row: 1 / 3;
    grid-column: 6;
}

#menu__info {
    grid-row: 6;
    grid-column: 1;
}

#menu__buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    grid-row: 4 / 6;
    grid-column: 3 / 5;
}

#play {
    height: 25%;
    width: 50%;
    font-size: 3vw;
    margin-bottom: 3%;
}

#settings {
    height: 20%;
    width: 40%;
    font-size: 1.75vw;
}

button {
    border-radius: 4px;
    background-color: #ffffff;
    border: none;
    box-shadow: 3px 3px 3px black;
    cursor: pointer;
    transition-duration: .65s;
    font-family: 'Amatic SC', cursive;
}

button:hover {
    background-color: red;
}

#menu__creators {
    grid-row: 6;
    grid-column: 6;
}