<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <title>Infected</title>
    <link href="static/game.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/phaser@3.16.2/dist/phaser.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        var socket = io('http://127.0.0.1:3000');
    </script>
</head>


<body>


<script>

    var config = {
        type: Phaser.AUTO,
        width: window.innerWidth,
        height: window.innerHeight,
        scene: {
            preload: preload,
            create: create,
            update: update
        }
    };

    var game = new Phaser.Game(config);

    function preload ()
    {
        this.load.setBaseURL('http://127.0.0.1:3000/game');

        this.load.image('background1', 'background1.png');
        this.load.image('human', 'human.png');
        this.load.image('zombie', 'zombie.png');
        this.load.image('exitButton', 'ExitButton.png');  //TODO onclick send ajax request to server with {"game_id": game_id}
    }

    function create ()
    {
        this.background = this.add.image(window.innerWidth / 2, window.innerHeight / 2, 'background1');
        this.background.setDisplaySize(window.innerWidth, window.innerHeight);

        this.human = this.add.sprite(window.innerWidth / 2, window.innerHeight / 2, 'human');
        this.human.angle = 270;

        this.zombie = this.add.sprite(window.innerWidth / 4, window.innerHeight / 2, 'zombie');
        this.zombie.angle = 270;

        this.exitButton = this.add.sprite(60, 50, 'exitButton');
        this.exitButton.setDisplaySize(window.innerWidth / 16, window.innerHeight / 10);
        this.exitButton.setInteractive();
        this.exitButton.on('pointerdown',() => exitMatch());
        this.key_W = this.input.keyboard.addKey(Phaser.Input.Keyboard.KeyCodes.W);
        this.key_A = this.input.keyboard.addKey(Phaser.Input.Keyboard.KeyCodes.A);
        this.key_S = this.input.keyboard.addKey(Phaser.Input.Keyboard.KeyCodes.S);
        this.key_D = this.input.keyboard.addKey(Phaser.Input.Keyboard.KeyCodes.D);
        this.key_UP = this.input.keyboard.addKey(Phaser.Input.Keyboard.KeyCodes.UP);
        this.key_DOWN = this.input.keyboard.addKey(Phaser.Input.Keyboard.KeyCodes.DOWN);
        this.key_LEFT = this.input.keyboard.addKey(Phaser.Input.Keyboard.KeyCodes.LEFT);
        this.key_RIGHT = this.input.keyboard.addKey(Phaser.Input.Keyboard.KeyCodes.RIGHT);
    }

    function update(delta){
        if(this.key_W.isDown){
            this.human.y -= 10;
        }
        if(this.key_A.isDown){
            this.human.x -= 10;
        }
        if(this.key_S.isDown){
            this.human.y += 10;
        }
        if(this.key_D.isDown){
            this.human.x += 10;
        }
        if(this.key_UP.isDown){
            this.human.angle = 270
        }
        if(this.key_DOWN.isDown){
            this.human.angle = 90
        }
        if(this.key_LEFT.isDown){
            this.human.angle = 180
        }
        if(this.key_RIGHT.isDown){
            this.human.angle = 0
        }
    }

    function exitMatch(){
        console.log("Logout triggered");
        window.location.pathname = ''
    }

</script>


</body>


</html>