body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

p, h1, div, h2, a {
    margin: 0;
    padding: 0;
}

h1, h2 {
    color: #fff;
}

p {
    font-family: 'Lato', sans-serif;
    font-size: 1.25vw;
}

h1, h2 {
    font-family: 'Amatic SC', cursive;
}

#menu {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 20px;
    background-color: darkred;
    grid-column-gap: 10px;
    color: #fff;
}

#menu__title {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-row: 1;
    grid-column: 3 / 5;
    font-size: 3vw;
    cursor: default;
    color: #fff;
}

#menu__directions {
    grid-row: 1 / 3;
    grid-column: 1 / 3;
    overflow: auto;
    color: #fff;
}

#menu__warning {
    grid-row: 1 / 3;
    grid-column: 6;
    color: #fff;
}

#menu__info {
    grid-row: 6;
    grid-column: 1;
    color: #fff;
}

#menu__buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    grid-row: 4 / 6;
    grid-column: 3 / 5;
    color: #fff;
}

#play {
    height: 25%;
    width: 50%;
    margin-bottom: 3%;
}

#play_button {
    width: 100%;
    height: 100%;
    font-size: 3vw;
}

button {
    border-radius: 4px;
    background-color: #ffffff;
    border: none;
    box-shadow: 3px 3px 3px black;
    cursor: pointer;
    transition-duration: .65s;
    font-family: 'Amatic SC', cursive;
}

button:hover {
    background-color: red;
}

#menu__creators {
    grid-row: 6;
    grid-column: 6;
}

#login_form {
    display: none;
    grid-template-columns: auto;
    grid-template-rows: 60px 60px 45px 10px;
    grid-row-gap: 25px;
    grid-column: 3 / 5;
    grid-row: 4 / 6;
    height: 100%;
    width: 100%;
    padding: 0;
}

input {
    margin: auto;
    padding: 0;
    border-radius: 4px;
    border: none;
}

#username {
    display: none;
    height: 80%;
    width: 55%;
    grid-row: 1;
    font-size: 1.5vw;
    background-color: #fff;
    font-family: "Baskerville Old Face", sans-serif;
}

#password {
    display: none;
    height: 80%;
    width: 55%;
    grid-row: 2;
    font-size: 1.5vw;
    background-color: #fff;
    font-family: "Baskerville Old Face", sans-serif;
}

#login {
    display: none;
    height: 100%;
    width: 25%;
    grid-row: 3;
    font-family: 'Amatic SC', cursive;
    background-color: #fff;
    font-size: 1.75vw;
}

#new_user {
    grid-row: 4;
    margin: auto;
}