<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Infected MMO</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'index.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Lato" rel="stylesheet">
    <script src="../static/jquery-3.3.1.min.js"></script>
    <script src="../static/index.js"></script>
</head>
<body>

<!--Alex Eastman, Comment-->
<!--THIS IS THE VIEWS PORTION OF MVC-->



<main id="menu">
    <h1 id="menu__title"><u>Infected: The Game</u></h1>

    <div id="menu__directions">
        <h1 id="directions">
            <u>Directions:</u>
        </h1>
        <p>
            Use your keyboard (WASD) to move your player. When you spawn and the game starts,
            your player model will be either white or red. If you are white, you must kill infected and avoid becoming
            infected until the time is up. If you are red, you are the first infected, and must find and infect
            other players. When you infect someone, they will become infected and be tasked with the same. The game ends
            when the time limit is up, or all players become infected.
        </p>
    </div>

    <div id="menu__info">
        <h1>
            <u>Game Info:</u>
        </h1>
        <br>
        <p>Current Players: 0</p>
        <br>
        <p>Current Games: 0</p>
    </div>

    <div id="menu__warning">
        <h1>
            <u>Warning:</u>
        </h1>
        <p>Don't play this game if you:<br>
            <b>-</b>Want to hate yourself.<br>
            <b>-</b>Don't like having fun.<br>
            <b>-</b>Don't want to be awesome.</p>
    </div>

    <div id="menu__buttons">
        <a href="login" id="play"><button id="play_button">Play</button></a>
        <a href="settings" id="settings"><button id="settings_button">Settings</button></a>
    </div>

    <div id="menu__creators">
        <h1>
            <u>Creators:</u>
        </h1>
        <br>
        <p>Alex Eastman</p>
        <br>
        <p>Zack Laistner</p>
    </div>
</main>

</body>
</html>